*.db filter=lfs diff=lfs merge=lfs -text
*chroma_db filter=lfs diff=lfs merge=lfs -text
*.sqlite3 filter=lfs diff=lfs merge=lfs -text
h2_economics_library.db filter=lfs diff=lfs merge=lfs -text
chroma_db_h2econs/** filter=lfs diff=lfs merge=lfs -text
