*.db filter=lfs diff=lfs merge=lfs -text
chroma_db_h2econs/13592fbf-ef06-4d5c-86ad-699ade2d4121/data_level0.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_h2econs/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
*chroma_db filter=lfs diff=lfs merge=lfs -text
